html {

    font-family: 'League Spartan', sans-serif;

} 

h1 {
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;

}
th {
    text-align: left;
    font-size: 40px;

}
    
img {
    border-radius: 40px;
    width: auto;
    height: 400px;
}


input {
    display: block;
    margin: 5px auto 15px;
    width: 100%;
    max-width: 70%;
    border: 1px solid #bfbfbf;
    vertical-align: top;
    height: 46px;
    line-height: 46px;
    padding: 0 15px;
}

.section-form {
    text-align: center;
    padding: 0 10%;
}

.section-form label {
    text-align: left;
    display: block;
    margin: 5px auto 15px;
    padding-left: 15%;
}